@charset "UTF-8";

.dg-open {
    .dg-main-content {
        width: calc(100% - 30px);
        max-width: 300px;
    }

    .dg-content-body {
        padding-bottom: 0;
        border-bottom: none;
        text-align: center
    }
    
    .dg-content-footer {
        text-align: center;
        
        .dg-pull-right {
            float: initial;
        }
    }

    .dg-container--has-input {
        label {
            font-weight: normal
        }

        .dg-content-footer {
            padding-top: 10px;

            .dg-btn {
                font-size: 14px;
                font-weight: normal
            }
        }
    }
}